#diz {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 50px;
  padding: 20px;
  max-width: 1000px;
  margin: 30px auto;
}

.dib {
  display: block;
}

.dip {
  padding: 0;
  margin: 0;
  border: 1px solid #eee;
  border-radius: 20px;
  text-decoration: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.diza {
  display: flex;
  align-items: center;
  margin: 10px 18px 20px;
  color: #666;
}

.dizan {
  margin-left: 5px;
}

.dipp {
  width: 100%;
}

h4 {
  color: #555;
  font-size: 14pt;
  margin: 18px 20px 15px;
}

.dizy {
  line-height: 1.4;
  color: #666;
  margin: 10px 20px;
}

.dipu {
  color: rgb(88, 84, 214);
  background-color: #EDE6FC
}

.dipg {
  color: #066a52;
  background-color: #cff4ea;
}

.dipb {
  border: none;
  border-radius: 10px;
  padding: 0 20px;
}

.dipf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  bottom: 0;
}

.dipc {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 180px;
  height: 35px;
  border-radius: 20px;
  border: 2px solid rgba(42, 157, 143, 0.5);
  overflow: hidden;
  position: relative;
}

.dipc.dobby {
  border: 2px solid #F4BCFD;
}

.dipi {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  transition: width 0.5s ease-out;
  z-index: -1;
}

.dipi.dobby {
  background-color:rgba(244, 188, 253, 0.3);
}

.dipi.usdt {
  background-color: rgba(42, 157, 143, 0.1);
}

.dipit {
  margin-left: 7px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 10pt;
  color: #555;
}

#didoi {
  border-radius: 11px;
}