#diz {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
  padding: 20px;
  max-width: 1000px;
  margin: 30px auto;
}

.dib {
  display: block;
}

.dip {
  padding: 0;
  margin: 0;
  border: 1px solid #eee;
  border-radius: 20px;
  display: block;
  /* Makes the anchor fill the container */
  text-decoration: none;
  /* Inherits text color from parent elements */
  overflow: hidden;
  position: relative;
}

.diza {
  display: flex;
  align-items: center;
  margin: 10px 18px 20px;
  color: #666;
}

.dizan {
  margin-left: 5px;
}

.dipp {
  width: 100%;
}

h4 {
  color: #555;
  font-size: 14pt;
  margin: 18px 20px 15px;
}

.dizy {
  color: #666;
  margin: 10px 20px 70px;
}

.dipu {
  color: rgb(88, 84, 214);
  background-color: #EDE6FC
}

.dipg {
  color: #066a52;
  background-color: #cff4ea;
}

.dipb {
  border: none;
  border-radius: 10px;
  padding: 0 20px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}